.guest-page-btns {
    width: 130px;
}

.error-msg {
    color: red;
}

.info-msg {
    color: #0d6efd;
}

.registration-header {
    text-align: center;
}

.registration-inputs .input-group-text {
    width: 80px;
}

.input-group{
    width: 400px!important;
}
