<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
  <div th:fragment="header">
    <nav class="navbar navbar-expand-sm mb-5" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Test Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/user">User list</a>
            <a class="nav-link" href="#">Settings</a>
          </div>
        </div>
      </div>
      <form th:action="@{/logout}" method="post">
        <button class="btn btn-primary mx-3" type="submit"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
      </form>
    </nav>
  </div>

  <div th:fragment="guest-header">
    <nav class="navbar navbar-expand-sm mb-5" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Test Project</a>
      </div>
    </nav>
  </div>

</body>
</html>