<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Spring Security Example </title>
</head>
<body>
</div>
Registration
<div th:if="${message}">
  <p th:text="${message}"/>
</div>
<form th:action="@{/registration}" method="post">
  <div><label> Email : <input type="text" name="email"/> </label></div>
  <div><label> Password: <input type="password" name="password"/> </label></div>
  <div><input type="submit" value="Sign Un"/></div>
</form>
</body>
</html>